<div class="container" id="my-posts">
  <table class="d-flex justify-content-center">
    <h1 class="text-center"> Users Posts </h1>
    <% unless @posts.present? %>
        <div class="text-center bg-light  p-5">You Don't Have Any Post Yet</div>
        <!-- <p >NO post yet... Create Post</p> -->
    <% else %>
      <tr>
        <th class="border-1 ">User Name</th>
        <th class="border-1 ">ID</th>
        <th class="border-1  ">Title </th>
        <th class="border-1 ">Description</th>

        <% if user_signed_in? %>
          <th class="border-1 ">Actions</th>
        <% end %>
      </tr>
      <tr>
        
        <%= render 'posts/post'%>
      </tr>
    <% end %>
  </table>
</div>



<div id="infinite-scrolling">
  <%= will_paginate @posts%>
</div>

<%= javascript_include_tag "pagination" %>

<script type="text/javascript">
  $(document).ready(function() {
    var deleteBtn = document.querySelectorAll('.delete-btn');
    function confirmDelete(e) {
       console.log("Fuction")
       
      if (confirm("Are you sure?")) {
        console.log("Yes");
      } else {
        console.log("no");
        event.preventDefault();
      }
    
  }
  for(var i = 0; i < deleteBtn.length; i++){
      deleteBtn[i].addEventListener("click", confirmDelete);
  }
});

</script>